<%- include('particles/header.ejs') %>
<%- include('particles/navigation.ejs') %>
<div>    
<% for (let i=0; i<cats.length; i++) {%>
    <a href="/category/<%= cats[i].id %>">
        <div>
            <h2><%= cats[i].title %></h2>
            <p><%= cats[i].description %></p>
        </div>
    </a>
<% } %>
</div>
<%- include('particles/footer.ejs') %>