<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<% if (items.length>0) {%>
    <div id="content">
        <% for (let i = 0; i < items.length; i++) {%>
            <a href="/items/<%= items[i].id %>">
                <h2><%= items[i].title %></h2>
                <img src="/img/<%= items[i].image %>" alt="<%= items[i].title %>">
            </a>
        <% } %>
    </div>
<% } %>
<%- include('particles/footer.ejs') %>
