<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<div class="section">
    <h2 class="section__title">
        <%= item.title %>
    </h2>
    <img class="section__image" src="/img/<%= item.image %>">
    <div>
        Категории: 
        <% for(let i = 0; i < item.categories.length; i++) {%>
            <%= item.categories[i].category.title %>,
        <% } %>
    </div>
    <div>
        Локации: 
        <%= item.location.title %>
    </div>
</div>


<form action="/update" method="post">
    <div class="form-group">
        <label class="form-group__label" for="title">Название</label>
        <input value="<%= item.title %>" class="form-group__input" type="text" id="title" name="title"
            placeholder="Название">
    </div>

    <input type="hidden" value="<%= item.id %>" name="id">
    <input class="form-button" type="submit" value="Обновить">
   
</form>

<form action="/add-to-cat" method="post">
    <div class="form-group">
        <label class="form-group__label" for="cat">title</label>
        <select name="cat" id="cat">
            <% for(let i = 0; i < cats.length; i++) {%>
                <option value="<%= cats[i].id %>"><%= cats[i].title %></option>
            <% } %>
        </select>
    </div>

    <input type="hidden" value="<%= item.id %>" name="id">
    <input class="form-button" type="submit" value="Добавить в категорию">
   
</form>


<%- include('particles/footer.ejs') %>