<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<div class="section">
    <h2 class="section__title">
        <%= item.title %>
    </h2>
    <img class="section__image" src="/img/<%= item.image %>">
    <div>
        <% if (cats_for_item) {%>
            <% for (let i=0; i<cats_for_item.length; i++) {%>
                <%= cats_for_item[i].title %>
            <% } %>
        <% } %>
    </div>
</div>


<form action="/update" method="post">
    <div class="form-group">
        <label class="form-group__label" for="title">title</label>
        <input value="<%= item.title %>" class="form-group__input" type="text" id="title" name="title"
            placeholder="title">
    </div>

    <div class="form-group">
        <label class="form-group__label" for="image">image</label>
        <input value="<%= item.image %>" class="form-group__input" type="text" id="image" name="image"
            placeholder="image">
    </div>

    <input type="hidden" value="<%= item.id %>" name="id">
    <input class="form-button" type="submit" value="Обновить">
   
</form>
<form action="/add_to_cat" method="post">
    <select name="cats" id="cats">
        <% for (let i = 0; i<cats.length; i++) {%>
            <option value="<%= cats[i].title %>"><%= cats[i].title %></option>   
        <% } %>
    </select>
    <input type="hidden" name="id" value="<%= item.id %>">
    <div>
        <input class="form-button" type="submit" value="Добавить категорию">
    </div>
</form>

<%- include('particles/footer.ejs') %>